streamlit
pandas
numpy
matplotlib
scikit-learn
requests
plotly
streamlit-autorefresh
scipy
owslib
folium
streamlit-folium
geopy
fpdf
osmnx
networkx
google-genai
openaq
gspread
google-auth
google-auth-oauthlib
deep-translator
statsmodels
